.pageBackgroundContainer {
  background-color: #93c5fd;
  background-size: cover;
  height: 100vh;
  padding: 50px;
}

.contentContainer {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 30vh;
  width: 60vh;
  padding: 20px;
  border-radius: 20px;
}
